In [1]:
import pandas as pd
from pathlib import Path
from loguru import logger

In [7]:
# silver_path = base_path / 'DATA' / 'SILVER'
# silver_path = base_path / 'DATA' / 'SILVER'
# gold_path = base_path / 'DATA' / 'GOLD'
# gold_path.mkdir(parents=True, exist_ok=True)
gold_path = Path('DATABASES/france_172074/DATA') / 'GOLD'
gold_path.mkdir(exist_ok=True)

In [ ]:
df_farm_types = pd.DataFrame({
    'type_id': [1, 2, 3],
    'name': ['Wind', 'Solar', 'Hybrid']
})
df_farm_types.to_csv(gold_path / 'farm_types.csv', index=False)
logger.info(f"farm_types: {len(df_farm_types)} rows")

2025-10-14 10:30:05.232 | INFO     | __main__:<module>:6 - dim_farm_types: 3 rows

In [ ]:
COMPANY_ROLES = sorted([
    'Customer',
    'Portfolio',
    'Asset Manager'
    'Legal Representative',
    'Bank Domiciliation',
    'Project Developer',
    'Co-developer',
    'WTG Service Provider',# = WEC Service Company
    'Substation Service Provider', # = Transfer station / power station service company
    'Grid Operator',
    'OM Main Service Company', # = Main Service Company
    'OM Service Provider'
])

df_company_roles = pd.DataFrame({'role_name': COMPANY_ROLES})
df_company_roles.insert(0, 'id', df_company_roles.index + 1)
df_company_roles.to_csv(gold_path / 'company_roles.csv', index=False)
logger.info(f"company_roles: {len(df_company_roles)} rows")

PERSON_ROLES = sorted([
    'Head of Technical Management',
    'Technical Manager',
    'Substitute Technical Manager',
    'HSE Coordination',
    'Electrical Engineering Manager',
    'Control Room Operator',
    'Field Crew Manager',
    'Environmental Department Manager',
    'Key Account Manager',
    'Substitute Key Account Manager',
    'Commercial Controller',
    'Substitute Commercial Controller',
    'Accountant',
    'Substitute Accountant',
    'Chartered Accountant', # = Expert Comptabe Chartered Accountant
    'Legal Auditor', # = Commissaire aux Comptes Legal Auditor
    'Asset Manager',
    'Legal Representative'
])

df_person_roles = pd.DataFrame({'role_name': PERSON_ROLES})
df_person_roles.insert(0, 'id', df_person_roles.index + 1)
df_person_roles.to_csv(gold_path / 'person_roles.csv', index=False)

2025-10-14 16:58:42.193 | INFO     | __main__:<module>:19 - company_roles: 11 rows

    id                         role_name
0    1                        Accountant
1    2                     Asset Manager
2    3              Chartered Accountant
3    4             Commercial Controller
4    5             Control Room Operator
5    6    Electrical Engineering Manager
6    7  Environmental Department Manager
7    8                Field Crew Manager
8    9                  HSE Coordination
9   10      Head of Technical Management
10  11               Key Account Manager
11  12                     Legal Auditor
12  13              Legal Representative
13  14             Substitute Accountant
14  15  Substitute Commercial Controller
15  16    Substitute Key Account Manager
16  17      Substitute Technical Manager
17  18                 Technical Manager

In [ ]:
df_persons = pd.DataFrame({
df_persons