In [8]:
import pyodbc
from loguru import logger

# Config
SERVER = 'ZEUS1'
DATABASE = 'france_172074'
USERNAME = 'user_breau'
PASSWORD = 'rEzz?-A6hCc99Gvs'

# 1. Check ODBC drivers
logger.info("Available drivers:")
for driver in pyodbc.drivers():
    logger.info(f"  - {driver}")

# 2. Test connection
logger.info("\nTesting connection...")
try:
    conn = pyodbc.connect(
        f'DRIVER={{ODBC Driver 17 for SQL Server}};'
        f'SERVER={SERVER};DATABASE={DATABASE};'
        f'UID={USERNAME};PWD={PASSWORD};'
        f'TrustServerCertificate=yes;',
        timeout=10
    )
    
    cursor = conn.cursor()
    cursor.execute("SELECT DB_NAME(), COUNT(*) FROM INFORMATION_SCHEMA.TABLES")
    db, tables = cursor.fetchone()
    
    logger.success(f"✓ Connected to {db}")
    logger.success(f"✓ Found {tables} tables")
    
    conn.close()
    
except Exception as e:
    logger.error(f"✗ Failed: {e}")

2025-10-06 12:09:20.003 | INFO     | __main__:<module>:11 - Available drivers:
2025-10-06 12:09:20.017 | INFO     | __main__:<module>:13 -   - SQL Server
2025-10-06 12:09:20.020 | INFO     | __main__:<module>:13 -   - ODBC Driver 17 for SQL Server
2025-10-06 12:09:20.025 | INFO     | __main__:<module>:13 -   - Microsoft Access Driver (*.mdb, *.accdb)
2025-10-06 12:09:20.027 | INFO     | __main__:<module>:13 -   - Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
2025-10-06 12:09:20.029 | INFO     | __main__:<module>:13 -   - Microsoft Access Text Driver (*.txt, *.csv)
2025-10-06 12:09:20.033 | INFO     | __main__:<module>:13 -   - Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)
2025-10-06 12:09:20.036 | INFO     | __main__:<module>:16 -
Testing connection...
2025-10-06 12:09:20.203 | ERROR    | __main__:<module>:36 - ✗ Failed: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'user_breau'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'user_breau'. (18456)")

In [25]:
import pandas as pd
import pyodbc
from loguru import logger
from sqlmodel import SQLModel, Field, create_engine, Session, select
from typing import Optional
SERVER = 'FRAMGNB107'
DATABASE = 'windmanager_france_test'

# Connexion
conn = pyodbc.connect(
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={SERVER};DATABASE={DATABASE};'
    f'Trusted_Connection=yes;TrustServerCertificate=yes;'
)

with conn.cursor() as cur:
    df = pd.read_sql("SELECT TOP 10 * FROM dbo.TestTable", conn)
df

C:\Users\dbreau\AppData\Local\Temp\ipykernel_6012\320624852.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT TOP 10 * FROM dbo.TestTable", conn)

   id                     name
0   1   Première ligne de test
1   2           Deuxième ligne
2   3          Troisième ligne
3   4          Quatrième ligne
4   5  Mon premier parc éolien